<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<customshipping>
				<model>Azra\ShippingOptions\Model\Carrier\AzraShippingOptions</model>
				<active>0</active>
				<title>Store Pickup</title>
				<name>Store Pickup</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</customshipping>
		</carriers>
		<payment>
			<custom>
				<active>1</active>
				<model>Azra\ShippingOptions\Model\Payment\Custom</model>
				<order_status>pending</order_status>
				<title>Custom</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</custom>
		</payment>
	</default>
</config>
